<%-include('../Includes/header.ejs')%>
    <link rel="stylesheet" href="/CSS/style.css">
    </head>

    <body>
        <%-include('../Includes/navigation.ejs')%>

<div class="row">
    <div class="col-2">
        <h1>Give Yourself <br>a New Style!</h1>
        <p>Style is a way to say <br>who you are without having to speak.</p>
        <a href="" class="btn">Explore Now</a>
    </div>
    <div class="col-2">
        <img src="/Uploaded_images/GettyImages-1209242683__1_jpg-JS632522945-removebg-preview (1).png" >
    </div>


</div>










        <%-include('../Includes/footer.ejs')%>