<div class="footer">
    <p> © Overtake 2018 All Rights Reserved Terms of Use and Privacy Policy 
          <a href="#" i class="fa-brands fa-facebook smicon" ></a></i>
          <a href="#" i class="fa-brands fa-twitter-square smicons"></a></i>
          <a href="#" i class="fa-brands fa-linkedin smicons"></a></i>
          <a href="#" i class="fa-brands fa-pinterest smicons"></a></i>
          <a href="#" i class="fa-brands fa-instagram smicons"></a></i>
          <a href="#" i class="fa-brands fa-google-plus smicons"></a></i>
        </p>
      </div>
</div>


</body>
</html>